<div class="row pt-5">
  <div class="col-md-6 mx-auto">

    <!-- Card -->
    <div class="card rounded-0">

      <!-- Card header -->
      <div class="card-header">
        <h3 class="mb-0">{{ 'LOGIN.LOGIN' | translate }}</h3>
      </div>

      <!-- Card body -->
      <div class="card-body">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <!-- Email input -->
          <div class="form-group">
            <label for="inputEmail">{{ 'LOGIN.EMAIL' | translate }}</label>
            <input type="text" id="inputEmail" class="form-control rounded-0" formControlName="email" autofocus>
          </div>

          <!-- Email error -->
          <div *ngIf="form['email'].errors && form['email'].touched" class="alert alert-danger">
            <div *ngIf="form['email'].errors.required">{{ 'LOGIN.EMAIL_REQUIRED' | translate }}</div>
            <div *ngIf="form['email'].errors.email">{{ 'LOGIN.INVALID_EMAIL' | translate }}</div>
          </div>

          <!-- Password inpit -->
          <div class="form-group">
            <label for="inputPassword">{{ 'LOGIN.PASSWORD' | translate }}</label>
            <input type="password" id="inputPassword" class="form-control rounded-0" formControlName="password">
          </div>

          <!-- Password error -->
          <div *ngIf="form['password'].errors && form['password'].touched" class="alert alert-danger">
            <div *ngIf="form['password'].errors.required">{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</div>
          </div>

          <!-- Remember me -->
          <div class="remember">
              <input type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}">{{ 'LOGIN.REMEMBER_ME' | translate }}
            </div>

          <div class="field-error text-danger" *ngIf="this.loginValid === false">
            {{ 'LOGIN.LOGIN_ERROR_1' | translate }}
          </div>

          <div class="card-actions text-center">
            <!-- Login button -->
            <button class="btn btn-success">{{ 'LOGIN.LOGIN' | translate }}</button>
          </div>

          <div class="card-footer">
            <!-- Sign up -->
            <div class="d-flex justify-content-center links">
              {{ 'LOGIN.HAVE_ACCOUNT' | translate }} <a href=#>{{ 'LOGIN.SIGN_UP_HERE' | translate }}</a>
            </div>
            
            <!-- Forgot password -->
            <div class="d-flex justify-content-center">
              <a href="#">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
