<div class="container">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal" id="signinText">Sign in</h1>

    <label for="inputEmail" class="sr-only">Email Address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" formControlName="email"
      name="email" required autofocus>

    <div *ngIf="form['email'].errors && form['email'].touched" class="alert alert-danger">
      <div *ngIf="form['email'].errors.required">Email required</div>
      <div *ngIf="form['email'].errors.email">Invalid email</div>
    </div>

    <label for="inputPassword" class="sr-only">Passwprd</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"
      required>

    <div *ngIf="form['password'].errors && form['email'].touched" class="alert alert-danger">
      <div *ngIf="form['password'].errors.required">Password required</div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" id="signInBtn" type="submit" [disabled]="!loginForm.valid">Sign
      in</button>
  </form>
</div>
