<div class="container">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal" id="signinText">Sign in</h1>

    <label for="inputEmail" class="sr-only">Email Address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" formControlName="email" required autofocus>

    <label for="inputPassword" class="sr-only">Passwprd</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>

    <div *ngIf="loginForm.value.email.invalid" class="alert alert-danger">
        Email is required.
    </div>

    <button class="btn btn-lg btn-primary btn-block" id="signInBtn" type="submit" [disabled]="!loginForm.valid">Sign in</button>
  </form>
</div>
