<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mb-3">
            <app-application-details title="Todo App" description="This is a simple todo app that lets you add, complete, and remove tasks." routeUrl="todo"></app-application-details>
        </div>
        <div class="col-md-4 mb-3">
            <app-application-details></app-application-details>
        </div>
        <div class="col-md-4 mb-3">
            <app-application-details></app-application-details>
        </div>
        <div class="col-md-4 mb-3">
            <app-application-details></app-application-details>
        </div>
        <div class="col-md-4 mb-3">
            <app-application-details></app-application-details>
        </div>
    </div>
</div>