<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" routerLink="/home">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/applications" routerLinkActive="active">Apps</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    </div>

    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="/myaccount" routerLinkActive="active" text-align="right">Account</a>
      <a *ngIf="!this.authService.getIsAuthenticated()" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a *ngIf="this.authService.getIsAuthenticated()" class="nav-item nav-link" (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a>
    </div>
  </div>
</nav>
